<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="console">
    <encoder>
      <pattern>%d [%t] %-5level %logger{36} %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="info">
    <encoder>
      <pattern>%d [%t] %-5level %logger{36} %msg%n</pattern>
    </encoder>
    <file>log/info.log</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>log/info/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>30</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
  </appender>
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="debug">
    <encoder>
      <pattern>%d [%t] %-5level %logger{36} %msg%n</pattern>
    </encoder>
    <file>log/debug.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>log/debug/debug.%d{yyyy-MM-dd-HH-mm}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>30</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <logger name="survival2d">
    <appender-ref ref="console"/>
  </logger>

  <logger name="com.tvd12">
    <appender-ref ref="console"/>
  </logger>

  <root>
<!--    <appender-ref ref="info"/>-->
<!--    <appender-ref ref="debug"/>-->
  </root>
</configuration>
